<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <head th:replace="fragments :: page_head('Settings - Shopme Admin', 'tag')"/>
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}"/>
    <script th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Site Setting </h2>
    </div>
    <div th:if="${message != null}" class="alert alert-success text-center">[[${message}]]</div>
    <div class="container">
        <ul class="nav nav-tabs" id="settingTab" role="tablist">
            <li class="nav-item">
                <button class="nav-link active" data-toggle="tab" href="#general"  role="tab" >General</button>
            </li>
            <li class="nav-item" >
                <button class="nav-link" data-toggle="tab" href="#countries" role="tab" >Countries</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-toggle="tab" href="#states" role="tab" >States</button>
            </li>
            <li class="nav-item" >
                <button class="nav-link" data-toggle="tab" href="#mainServer" role="tab" >Mail Server</button>
            </li>
            <li class="nav-item" >
                <button class="nav-link" data-toggle="tab" href="#mailTemplate" role="tab" >Main Template</button>
            </li>
            <li class="nav-item" >
                <button class="nav-link" data-toggle="tab" href="#payment" role="tab" >Payment</button>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active p-3" id="general" role="tabpanel" >
                <div th:replace="settings/general :: content"></div>
            </div>
            <div class="tab-pane p-3" id="countries" role="tabpanel" >
                <div th:replace="settings/countries :: content "></div>
            </div>
            <div class="tab-pane" id="states" role="tabpanel" >
                <div th:replace="settings/states :: content"></div>
            </div>
            <div class="tab-pane" id="mainServer" role="tabpanel" >
                <div th:replace="settings/mail_server :: content"></div>
            </div>
            <div class="tab-pane p-3" id="mailTemplate" role="tabpanel" >
                <div th:replace="settings/mail_templates/mail_templates :: content"></div>
            </div>
            <div class="tab-pane p-3" id="payment" role="tabpanel" >
                <div th:replace="settings/payments :: content"></div>
            </div>
        </div>

        <div class="toast justify-content-center d-flex" role="alert" aria-live="polite" aria-atomic="true" data-delay="3000">
            <div role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body">
                    <span id="toastMessage"></span>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="modal_fragments :: modal_dialog"></div>
    <div th:replace="fragments :: footer"></div>
</div>
<script type="text/javascript">
    MAX_FILE_SIZE = 1102400; //100KB
    contextPath = "[[@{/}]]";
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";
    $(document).ready(function (){
        $("#customerVerificationContent").richText();
        $("#orderConfirmationContent").richText({height: 400});
    });
</script>
<script th:src="@{/js/common_form.js}"></script>
<script th:src="@{/js/countries_setting.js}"></script>
<script th:src="@{/js/states_setting.js}"></script>
</body>
</html>